<div *ngIf="isLoading" class="loading-spinner">
    <!-- Spinner de carregamento -->
    <mat-spinner></mat-spinner>
</div>
<div  class="container" *ngIf="!isLoading">
  <app-back-button (click)="goBack()" class="back-button"></app-back-button>
  <div class="card">
    <div class="text-card">
      <p><strong>Atualização de psicólogo</strong></p>
      <p>Confira e atualize as informações do psicólogo</p>
    </div>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="form-card">
        <mat-form-field appearance="outline" floatLabel="always">
          <mat-label>Nome completo</mat-label>
          <input matInput formControlName="nome" placeholder="Nome do psicólogo" maxlength="50" />
          <mat-error *ngIf="form.get('nome')?.hasError('required')">
            Nome é obrigatório.
        </mat-error>
        </mat-form-field>
      </div>
      <div class="form-card">
        <mat-form-field appearance="outline" floatLabel="always">
          <mat-label>CPF</mat-label>
          <input matInput formControlName="cpf" placeholder="xxx.xxx.xxx-xx" maxlength="14">
          <mat-error *ngIf="form.get('cpf')?.hasError('pattern')">
            CPF inválido. Verifique as informações digitadas.
          </mat-error>
          <mat-error *ngIf="form.get('cpf')?.hasError('required')">
            CPF é obrigatório.
        </mat-error>
        </mat-form-field>
      </div>
      <div class="form-card">
        <mat-form-field appearance="outline" floatLabel="always">
          <mat-label>CRP</mat-label>
          <input matInput formControlName="matricula" placeholder="CRP 01/XXXXX" maxlength="20">
          <mat-error *ngIf="form.get('matricula')?.hasError('required')">
            CRP é obrigatório.
        </mat-error>
        </mat-form-field>
      </div>
      <div class="form-card">
        <mat-form-field appearance="outline" floatLabel="always">
          <mat-label>Turmas</mat-label>
          <mat-select formControlName="turma" placeholder="6 série B" multiple>
            <mat-option *ngFor="let option of turmaOptions" [value]="option.id">
              {{ option.name }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="form.get('turma')?.hasError('required')">
            Escolher turma é obrigatório.
        </mat-error>
        </mat-form-field>
      </div>

      <div class="btn-wrapper">
          <app-button
            label="Atualizar"
            [customClass]="'primary'"
            color="primary"
            [disabled]="form.invalid"
            [loading]="form.pending">
          </app-button>
      </div>
    </form>
  </div>
</div>
