<div *ngIf="isLoading" class="loading-spinner">
  <mat-spinner></mat-spinner>
</div>

<section class="main" *ngIf="!isLoading">
  <section class="sidebar-section">
    <app-sidebar [homeLink]="{ route: '/main' }" [menuIcons]="icons"></app-sidebar>
  </section>

  <div class="title">
    <h2>Avaliação de Desenvolvimento Individual</h2>
  </div>

  <div class="navigate" *ngIf="userRole !== 'guardian'">
    <div class="content-left">
      <app-back-button></app-back-button>

      <div>
        <app-breadcrumb [breadcrumbItems]="breadcrumbItems"></app-breadcrumb>
      </div>
    </div>

    <div class="new-adi-btn" (click)="onRegisterNewAdi()" (keydown)="onRegisterNewAdi()" tabindex="0">
      Registrar novo ADI
      <mat-icon>add_circle_outline</mat-icon>
    </div>
  </div>

  <div class="student-informations">
    <h4>{{ nomeDoEstudante }}</h4>
    <span>{{ apelidoTurma }}</span>
  </div>

  <div class="history-ADIs">
    <h4>Histórico de ADIs</h4>

    <div class="ADIs-list" *ngIf="adisData?.latestEvaluation; else noHistoryData">
      <ng-container *ngFor="let adi of adisData?.evaluations">
        <div class="ADI-item" (click)="onAdiClick(adi.id)" (keydown)="onAdiClick(adi.id)" tabindex="0">
          {{ adi.formattedLabel }}
          <mat-icon (click)="onAdiDetailsClick(adi.id)" (keydown)="onAdiDetailsClick(adi.id)" tabindex="0">search</mat-icon>
        </div>
      </ng-container>
    </div>

    <ng-template #noHistoryData>
      <div class="no-history-data">Não há registros</div>
    </ng-template>

  </div>

  <div class="last-ADI">
    <h4>Pré-visualização do ADI</h4>
    <span>{{ adiDate ? adiDate : '--/--/--' }}</span>

    <div class="chart-container" *ngIf="adisData?.latestEvaluation; else noChartData">
      <echarts *ngIf="!isLoadingChart" [options]="chartOptions" class="echart"></echarts>

      <div *ngIf="isLoadingChart">
        <mat-spinner></mat-spinner>
      </div>
    </div>

    <ng-template #noChartData>
      <div class="no-chart-data">Não há registros</div>
    </ng-template>

    <button (click)="onVisualizarClick()" (keydown)="onVisualizarClick()" >Visualizar</button>
  </div>
</section>
