
<main>
  <section class="sidebar-section">
    <app-sidebar [homeLink]="{ route: '/main' }" [menuIcons]="icons"></app-sidebar>
  </section>

  <div class="title">
    <h2>Avaliação de Desenvolvimento Individual</h2>
  </div>

  <div class="navigate">
    <app-back-button></app-back-button>

    <div class="new-adi-btn" (click)="onVisualizarClick()" (keydown)="onVisualizarClick()" tabindex="0">
      Registrar novo PDI
      <mat-icon>add_circle_outline</mat-icon>
    </div>
  </div>

  <div class="informations">

    <div class="student-informations">
      <h4>{{ nomeDoEstudante }}</h4>
      <span>{{ apelidoTurma }}</span>
    </div>

    <div class="adi-informations">
      <h4>ADI</h4>
      <span>Realizado em {{ data }}</span>
    </div>

  </div>

  <div class="last-ADI">
    <h4>Última avaliação</h4>

    <div class="chart-container">
      <echarts [options]="chartOptions" class="echart"></echarts>
    </div>
  </div>

  <div class="teacher-comments">
    <h4>Observações do professor</h4>
    <p>{{ teacherComments }}</p>
  </div>
</main>
