<div class="form-container">
  <app-back-button class="back-button"></app-back-button>
  <div class="form-header">
    <div class="header-content">
      <strong>Registre um novo ADI</strong>
      <p class="form-subtitle">Preencha as informações da avaliação do estudante</p>
    </div>
  </div>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div
      class="form-card"
      *ngFor="let question of questions"
      [ngClass]="{'error-border': hasError && form.controls[question.id].invalid}"
    >
      <h3>{{ question.title }}</h3>
      <p class="description">{{ question.description }}</p>

      <div
        class="options-wrapper"
        [ngClass]="{'error-border': hasError && form.controls[question.id].invalid}"
      >
        <div class="option" *ngFor="let option of options">
          <label [for]="question.id + '-' + option.value" class="option-label">
            <input
              type="radio"
              [id]="question.id + '-' + option.value"
              [formControlName]="question.id"
              [value]="option.value"
              class="option-input"
              (change)="onFieldChange()">
            <span class="option-text">{{ option.text }}</span>
          </label>
        </div>
      </div>
    </div>

    <div
      class="text-teacher"
      [ngClass]="{'error-border': hasError && form.controls['textTeacher'].invalid}"
    >
      <div class="header-teacher">
        <strong>Observações do psicólogo</strong>
      </div>
      <textarea
        id="text-id"
        formControlName="textTeacher"
        required
        (input)="onFieldChange()"
        [ngClass]="{'error-border': hasError && form.controls['textTeacher'].invalid}"
      ></textarea>
    </div>

    <div class="btn-wrapper">
      <mat-hint class="error-message" *ngIf="hasError">É obrigatório preencher todos os campos</mat-hint>

      <app-button
        label="Salvar"
        [customClass]="'primary'"
        color="primary"
        [loading]="form.pending">
      </app-button>
    </div>
  </form>
</div>
