<div class="main-container">
  <div class="left-section"></div>
  <div class="right-section">
    <app-back-button class="back-button"></app-back-button>
    <div class="logo-civitas"></div>
    <h1>Seja bem-vindo!</h1>
    <p>
      Olá, responsável!<br/>
      Aproveite a nossa ferramenta para acompanhar o desenvolvimento pessoal do seu filho(a)!
    </p>
    <form  [formGroup]="authForm" (ngSubmit)="onSubmit($event)" class="button-group">
      <app-input
        type="text"
        label="Número de matrícula do estudante"
        placeholder="Digite o número de matrícula"
        [hasError]="isInvalid"
        errorMessage="O número de matrícula está incorreta"
        (inputValueChange)="authForm.get('registrationNumber')?.setValue($event); resetError()"
      >
      </app-input>
      <app-button
        label="Entrar"
        [disabled]="authForm.invalid"
        [customClass]="'primary'"
        type="submit"
        [loading]="authForm.pending">
      >
      </app-button>
    </form>
  </div>
</div>
